name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

        # run build and test
      - name: Restore dependencies
        run: dotnet restore ManagedCode.TimeSeries.slnx
      - name: Build
        run: dotnet build ManagedCode.TimeSeries.slnx --configuration Release --no-restore
      - name: Test and collect code coverage
        run: dotnet test ManagedCode.TimeSeries.Tests/ManagedCode.TimeSeries.Tests.csproj --configuration Release --no-build -p:CollectCoverage=true -p:CoverletOutputFormat=lcov -p:CoverletOutput=./
      - name: coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{secrets.GITHUB_TOKEN }}
          path-to-lcov: ManagedCode.TimeSeries.Tests/coverage.info
